.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  position: absolute;
  top: -50px;
  left: -60px;
  background: rgb(249, 165, 72);
  border-radius: 20px;
  padding: 10px 20px;
  background: linear-gradient(
    90deg,
    rgba(249, 165, 72, 1) 40%,
    rgba(255, 231, 189, 1) 100%
  );
}

.weather__content {
  border-radius: 8px;
  position: relative;
  width: 500px;
  height: 85vh;
  background-image: url("https://i.pinimg.com/564x/53/0b/a9/530ba95de0a979ea63817f8e59305404.jpg");
  background-size: cover;
}

.place {
  height: 50px;
  margin-top: 50px;
  font-weight: 800;
}

.country {
  /* margin-top: 40px; */
  font-weight: 500;
}

.temperature {
  font-size: 80px;
  font-weight: 800;
  /* margin: 80px 0px; */
}

.icon {
  font-size: 30px;
}

.result {
  font-size: 30px;
  font-weight: 500;
}

.input-search,
.btn-search {
  font-size: 30px;
  font-weight: 500;
}

.not-search {
  /* display: flex; */
  height: 100%;
  justify-content: center;
  align-items: center;
}

.locaNotSearch {
  margin-bottom: 50px;
  size: 30px;
  font-weight: 800;
}

.div-not-search {
  margin-top: 120px;
}

.search {
}
